<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Mapping>
		<Packages>
			<Package>
				<Name>Swedish official set</Name>
				<CountryName>Sverige</CountryName>
				<CountryName_Eng>Sweden</CountryName_Eng>
				<BaseURL>http://mediaportal-swedish-tv-radio-logos.googlecode.com/svn/trunk/</BaseURL>
				<Designs />
				<Logos_TV>SE_logo_pack/TV/Transparent/</Logos_TV>
				<Logos_Radio>SE_logo_pack/Radio/Transparent/</Logos_Radio>
				<Mapping_AltURL />
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove>
					<string> </string>
					<string>(S)</string>
					<string>(S/F)</string>
				</StringPartsToRemove>
			</Package>
			<Package>
				<Name>Русский набор</Name>
				<CountryName>Россия</CountryName>
				<CountryName_Eng>Russia</CountryName_Eng>
				<BaseURL>http://mediaportal-russian-logos.googlecode.com/svn/trunk/</BaseURL>
				<Designs>LogoManager/LogoManager/designs/</Designs>
				<Logos_TV>Simple/</Logos_TV>
				<Logos_Radio>Simple/</Logos_Radio>
				<Mapping_AltURL />
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove />
			</Package>
			<Package>
				<Name>Deutsche Pack</Name>
				<CountryName>Deutschland</CountryName>
				<CountryName_Eng>Germany</CountryName_Eng>
				<BaseURL>http://deutsches-logo-pack.googlecode.com/git/Realase/</BaseURL>
				<Designs />
				<Logos_TV>Logos/Deutsches%20Logo%20Pack%20-%20Simple/tv/logos/</Logos_TV>
				<Logos_Radio>Logos/Deutsches%20Logo%20Pack%20-%20Simple/Radio/</Logos_Radio>
				<SupportsLastModified>false</SupportsLastModified>
				<!--Mapping_AltURL>http://mediaportal-russian-logos.googlecode.com/svn/trunk/ExternalPackages/German/LogoMapping.xml</Mapping_AltURL-->
				<StringPartsToRemove>
					<string> </string>
					<string>(S)</string>
					<string>(KD)</string>
					<string>.</string>
				</StringPartsToRemove>
			</Package>
			<Package>
				<Name>Swiss pack</Name>
				<CountryName>Schweiz</CountryName>
				<CountryName_Eng>Switzerland</CountryName_Eng>
				<BaseURL>http://mediaportal-swiss-rtv-logos.googlecode.com/svn/trunk/</BaseURL>
				<Designs />
				<Logos_TV>TV/TVL_1-1_Classic_Clear/</Logos_TV>
				<Logos_Radio>Radio/RL_1-1_Classic_Clear/</Logos_Radio>
				<Mapping_AltURL />
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove />
			</Package>
			<Package>
				<Name>Dutch pack</Name>
				<CountryName>Nederland</CountryName>
				<CountryName_Eng>Netherlands</CountryName_Eng>
				<BaseURL>http://mp-dutch-rtv-logos.googlecode.com/svn/trunk/</BaseURL>
				<Designs />
				<Logos_TV>logos/TV/Clear/</Logos_TV>
				<Logos_Radio>logos/Radio/Clear/</Logos_Radio>
				<Mapping_AltURL />
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove />
			</Package>
			<Package>
				<Name>British pack</Name>
				<CountryName>United Kingdom</CountryName>
				<CountryName_Eng>United Kingdom</CountryName_Eng>
				<BaseURL>http://mediaportal-uk-logos.googlecode.com/svn/trunk/</BaseURL>
				<Designs />
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<Mapping_AltURL />
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove />
			</Package>
			<Package>
				<Name>French pack</Name>
				<CountryName>France</CountryName>
				<CountryName_Eng>France</CountryName_Eng>
				<BaseURL>http://mediaportal-france-rtv-logos.googlecode.com/svn/Trunk/LOGOS/</BaseURL>
				<Designs />
				<Logos_TV>TV/Minimal/</Logos_TV>
				<Logos_Radio>RADIO/Minimal/</Logos_Radio>
				<Mapping_AltURL />
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove />
			</Package>
			<Package>
				<Name>Український</Name>
				<CountryName>Україна</CountryName>
				<CountryName_Eng>Ukraine</CountryName_Eng>
				<BaseURL>http://mediaportal-ukrainian.googlecode.com/svn/trunk/Logos/</BaseURL>
				<Designs>Designs/</Designs>
				<Logos_TV>Clear/</Logos_TV>
				<Logos_Radio>Clear/</Logos_Radio>
				<Mapping_AltURL />
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove />
			</Package>
			<Package>
				<Name>חבילה ישראלית</Name>
				<CountryName>יִשְׂרָאֵל</CountryName>
				<CountryName_Eng>Israel</CountryName_Eng>
				<BaseURL>http://mediaportal-israel-dvb-t-logos.googlecode.com/svn/trunk/</BaseURL>
				<Designs />
				<Logos_TV>logos/TV/</Logos_TV>
				<Logos_Radio>logos/Radio/</Logos_Radio>
				<Mapping_AltURL />
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove />
			</Package>
			<Package>
				<Name>New Zealand pack</Name>
				<CountryName>New Zealand</CountryName>
				<CountryName_Eng>New Zealand</CountryName_Eng>
				<BaseURL>http://mediaportal-nz-logos.googlecode.com/svn/trunk/</BaseURL>
				<Designs />
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<Mapping_AltURL />
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove />
			</Package>
			<Package>
				<Name>American pack</Name>
				<CountryName>United States</CountryName>
				<CountryName_Eng>United States</CountryName_Eng>
				<BaseURL>http://mediaportal-us-logos.googlecode.com/svn/trunk/</BaseURL>
				<Designs />
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<Mapping_AltURL />
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove />
			</Package>
			<Package>
				<Name>Australian pack</Name>
				<CountryName>Australia</CountryName>
				<CountryName_Eng>Australia</CountryName_Eng>
				<BaseURL>http://mediaportal-aus-logos.googlecode.com/svn/trunk/</BaseURL>
				<Designs />
				<Logos_TV>TV/Simple200/</Logos_TV>
				<Logos_Radio>Radio/Simple200/</Logos_Radio>
				<Mapping_AltURL />
				<SupportsLastModified>true</SupportsLastModified>
				<StringPartsToRemove />
			</Package>
		</Packages>
		<AltDesigns>http://mediaportal-russian-logos.googlecode.com/svn/trunk/LogoManager/LogoManager/designs/</AltDesigns>
	</Mapping>
	<Settings>
		<Group></Group>
		<GroupType></GroupType>
		<Package></Package>
		<Design>Modern</Design>
		<LastGrab>0</LastGrab>
	</Settings>
</Configuration>